@model IEnumerable<At_Yarisi.Models.siniflar.Horse>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Race</title>
    <link href="/Content/RaceStyle.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <div style="width: 66%; display: table;">
        <div class="relative" style="display: table-row">

            <div class="kutu" style="width: 0px; display: table-cell;">
                @foreach (var item in Model)
                {
                    <form action="/Race/Race" method="post">
                        <div class="inputPadding">
                            <input type="submit" value="
                         @Html.DisplayFor(modelItem => item.HorseName)"  name="HorseName">
                            <button class="button button7">@Html.DisplayFor(modelItem => item.HorseNumber)/10</button>
                            <button class="button button1" name="JokeyOran">@Html.DisplayFor(modelItem => item.HorseRatio)</button>
                        </div>
                    </form>
                }
            </div>

            <div class="kutu" style="display: table-cell;">
                <div class="CountDownTimer">
                    <h3 style="color:white;">Event Starts In</h3>
                    <h1 style="color:white;">00:14</h1>
                </div>
                <div class="chosenJokey">
                    <input type="submit" placeholder="Boş" value="@Session["HorseName"]" name="Confirm">
                    <button class="button button7">@Session["HorseRatio"]/10</button>
                </div>
                <!--PLACING BET SECTION-->
                <div class="inputConfirmPadding2">
                    <h2 style="color:white">Current Ballance : @Session["Chip"]</h2>

                    <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
                    <div class="custom-select" style="width:200px;">
                        <select>
                            <option value="0">Select the Amount:</option>
                            <option value="100">100 Chip</option>
                            <option value="200">200 Chip</option>
                            <option value="300">300 Chip</option>
                            <option value="500">500 Chip</option>
                            <option value="1000">1.000 Chip</option>
                            <option value="2000">2.000 Chip</option>
                            <option value="4000">4.000 Chip</option>
                            <option value="6000">6.000 Chip</option>
                            <option value="8000">8.000 Chip</option>
                            <option value="10000">10.000 Chip</option>
                        </select>
                    </div>
                    <h2 style="color:white">Payout: ?</h2>
                    <script src="/Scripts/race.js"></script>
                </div>
                <!--PLACİNG BET SECTION END-->
                <div class="inputConfirmPadding">
                    <input type="submit" value="Place Bet" name="Confirm">
                </div>
                <div class="inputConfirmPadding1">
                    <input type="submit" value="Cancel" name="Confirm">
                </div>
            </div>

        </div>
    </div>

</body>
</html>



